@(products: List[Product], productForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._
@main("Produtos") {
		<div class="row">
				<div class="col-md-6 product_form">
						<h2>Cadastrar produtos</h2>
						@form(routes.Application.newProduct()) {
								@inputText(productForm("name"))
								@inputText(productForm("name"))
								@inputText(productForm("price"))
								@inputText(productForm("category"))
								@textarea(productForm("descricao"))
								<input type="submit" class="btn btn-success" value="Salvar">
						}
				</div>
				<div class="col-md-6 product-list">
						@productListTable(products)
				</div>
		</div>
}
