@(products: List[Product], productForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._
		<h2>Produtos cadastrados</h2>
    <table class="table table-bordered table-hover table-product">
				<thead>
						<tr>
								<th>Nome</td>
								<th>Valor</td>
								<th>Categoria</td>
								<th>Descrição</td>
								<th>Ações</td>
						</tr>
				</thead>
				<tbody>
        @for(product <- products) {
        		<tr>
        				<td>@product.name</td>
        				<td>R$ @product.price</td>
        				<td>@product.category</td>
        				<td>@product.descricao</td>
        		
        				<td class="actions">
										<div class="row">
											<div class="col-md-6">
												@form(routes.Application.editProduct(product.id),'class -> "edit_product") {
													<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i> Editar</button>
												}
											</div>
											<div class="col-md-6">
		        						@form(routes.Application.deleteProduct(product.id),'class -> "delete_product") {
			            				<button type="button" onclick="delete_product()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Deletar</button>
												}
											</div>
										</div>
								</td>
						</tr>
        }
        </tbody>
    </table>
<script>
	function delete_product(){
		var form = $('.delete_product');
		var res = confirm("Tem certeza que deseja exluir esse produto?");
		if(res){
			form.submit();
		}
	}
</script>
 